venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/
*.env
*.env.*
*.bak      
*.tmp
*.swp
*.swo
*.zip     
*.tar.gz
*.egg-info/
dist/
build/
*.egg       
Agentes/agente_B/raw/*.json
Agentes/agente_B/dataset/*.csv